h1.section_title {
    color: white;
    text-align: center;
    font-size:3rem;
}

.about_content {
    margin-left: 13rem;
    margin-top: 10rem;;
    font-size: x-large;
}

#about {
    background-color: rgb(75, 73, 73);
    height: 100vh;
}

.about_content p {
    margin-top: 20px;
    width: 80rem;
}
