h1.header {
    background-color: black;
    padding-left: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-icon {
    display: inline;
    position: relative;
    right: -100rem;
    top: 4px;
    
}

.menu-icon:hover {
    opacity: 0.6;
}

.login {
    display: inline;
    font-size: large;
    position: relative;
    right: -98rem;
    top: -6px;
}